.welcome-screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.center-box {
  height: 20vh;
  width: 60vw;
  background-color: #ffffff;
  border: 3px solid #e91e63;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px 15px rgba(57, 42, 42, 0.2);
  text-align: center;
}

.welcome-title {
  font-size: 2rem;
  font-weight: bold;
  color: #1d1d1d;
  margin-bottom: 0.5rem;
}

.welcome-text {
  font-size: 1.2rem;
  color: #1d1d1d;
  margin: 0;
}